@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: rgb(120, 120, 120);
  --quaternary-color: rgb(228, 228, 228);
  --interact-radius: 0.3rem;
  --card-radius: 1rem;
  --card-box-shadow: 7px 5px 10px 0 rgb(80, 80, 80);
  --transition-time: 0.2s;
  --font-extra-large: 3rem;
  --font-large: 2rem;
  --font-normal: 1rem;
  --font-small: 0.8rem;
}

@media (max-width: 500px) {
  :root {
    --font-extra-large: 2.8rem;
    --font-large: 1.8rem;
    --font-normal: 0.8rem;
    --font-small: 0.6rem;
  }
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow: clip;
  scroll-behavior: smooth;
}

body {
  overflow: clip;
  background-color: var(--quaternary-color);
}

h1 {
  font-size: var(--font-large);
}

p {
  font-size: var(--font-normal);
}

th {
  font-size: var(--font-normal);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
select {
  background-color: var(--primary-color);
  border: solid 1px transparent;
  border-radius: var(--interact-radius);
  font-weight: bold;
  color: var(--secondary-color);
  padding: clamp(0.3rem, 0.5%, 7rem);

  cursor: pointer;
}

i {
  cursor: pointer;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  max-height: 0.4rem;
  margin-block: 0.5rem;
  border-radius: 1rem;
  background: var(--quaternary-color);
}
progress[value]::-webkit-progress-bar {
  border-radius: 1rem;
  background: var(--quaternary-color);
}
progress[value]::-webkit-progress-value {
  border-radius: 1rem;
  background: var(--primary-color);
}
progress[value]::-moz-progress-bar {
  border-radius: 1rem;
  background: var(--primary-color);
}

.user-input {
  border: solid 1px var(--primary-color);
  border-radius: var(--interact-radius);
  padding: 0.5rem;
  height: 1.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.user-input .input-prefix {
  margin-right: 0.5rem;
}

input {
  font-size: var(--font-normal);
  border: none;
  outline: none;
  cursor: initial;
  width: 100%;
}

.form-select {
  font-size: var(--font-normal);
  padding: 0.5rem;
  height: 2.7rem;
}

.card {
  padding: 1rem;
  min-height: 10rem;
  min-width: 15rem;
  background: var(--secondary-color);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-radius);
}

.new-object {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.new-object .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  max-height: 75%;
  overflow-y: scroll;
}

.new-object .card .object-header {
  margin-bottom: 1rem;
}

.new-object .card form {
  display: flex;
  flex-direction: column;
}

.new-object .card form label {
  margin-bottom: 0.5rem;
}

.new-object .object-created {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.new-object .object-created .object-created-header {
  margin-bottom: 1rem;
}

.horizontal-cards {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  scroll-snap-type: x mandatory;
}

.horizontal-cards .card {
  scroll-snap-align: start;
}

.horizontal-cards .card:last-child {
  margin-right: 70rem;
}

.none-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.none-completed h2 {
  text-align: center;
}
