.goals {
  width: 98.5%;
}

.goals .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.goals .bottom .first-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.goals .bottom .first-row .bills-card {
  width: 15vw;
}

.goals .cards {
  flex-grow: 1;
  flex-basis: 75%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  scroll-snap-type: x mandatory;
}

.goals .cards .card {
  background: var(--secondary-color);
  padding: 1rem;
  scroll-snap-align: start;
}

.goals .cards .no-goals-created {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.goals .cards .no-goals-created h2 {
  margin-bottom: 0.5rem;
}
.goals .cards .card:last-child {
  margin-right: 70rem;
}

.goals .cards .card .card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.goals .cards .card .card-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.goals .cards .card .card-body > * {
  padding: 0.25rem;
  border-radius: 0.25rem;
  flex-basis: 100%;
  background-color: var(--quaternary-color);
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  max-height: 0.4rem;
  margin-block: 0.5rem;
  border-radius: 1rem;
  background: var(--quaternary-color);
}
progress[value]::-webkit-progress-bar {
  border-radius: 1rem;
  background: var(--quaternary-color);
}
progress[value]::-webkit-progress-value {
  border-radius: 1rem;
  background: var(--primary-color);
}
progress[value]::-moz-progress-bar {
  border-radius: 1rem;
  background: var(--primary-color);
}

.goals .cards .card .card-bottom .progress-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.goals .cards .card .card-bottom .delete-goal {
  width: 100%;
}
