main {
  display: flex;
  height: 100svh;
}

.sidebar {
  width: clamp(2rem, 5%, 7rem);
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: var(--transition-time);
}

.sidebar a {
  text-decoration: none;
}

.sidebar i {
  font-size: clamp(1rem, 1.5vw, 5rem);
}

.sidebar .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: clamp(4rem, 10%, 7rem);
}

.sidebar .top img {
  width: clamp(1rem, 15%, 2rem);
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.sidebar .bottom .nav-button {
  width: 30%;
  padding: 0.7rem clamp(0rem, 1.35vw, 2rem);
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .bottom .nav-button-opened {
  width: 70%;
  justify-content: start;
}

.sidebar .bottom .nav-button:nth-child(4) {
  margin-bottom: auto;
}

.sidebar .bottom .nav-button:last-child {
  margin-bottom: 1rem;
}

.sidebar .bottom .nav-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: var(--transition-time);
}

.sidebar .bottom .nav-button span {
  margin-left: 1rem;
  font-weight: bold;
  font-size: var(--font-small);
}

.sidebar_active {
  width: clamp(2rem, 15%, 25rem);
  transition: var(--transition-time);
}

.content {
  overflow-y: scroll;
  padding: 2rem;
  width: 92%;
}

.content .top {
  padding-bottom: 2rem;
}

.content .bottom .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .sidebar_active {
    width: 100vw;
  }

  .sidebar_active + .content {
    display: none;
  }
}
