main {
  display: flex;
  height: 100svh;
}

.sidebar {
  width: clamp(2rem, 5%, 7rem);
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: var(--transition-time);
}

.sidebar i {
  font-size: clamp(1rem, 1.5vw, 5rem);
}

.sidebar .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: clamp(4rem, 10%, 7rem);
}

.sidebar .top img {
  width: clamp(1rem, 15%, 2rem);
}
.sidebar .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.sidebar .bottom button {
  width: 90%;
  background: none;
  color: var(--secondary-color);
  border: none;
  padding: 0.7rem clamp(0rem, 1.4vw, 2rem);
  margin-bottom: 0.3rem;
  border-radius: var(--button-radius);
  display: flex;
  align-items: center;
  justify-content: start;
}

.sidebar .bottom button:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: var(--transition-time);
}

.sidebar .bottom button i {
  margin-right: 1rem;
}
.sidebar .bottom button span {
  font-weight: bold;
  font-size: var(--font-small);
}

.sidebar .bottom .nav-divider {
  height: clamp(0rem, 47vh, 50rem);
}

.sidebar .bottom .nav-divider-active {
  height: clamp(0rem, 47vh, 50rem);
}
.sidebar_active {
  width: clamp(2rem, 15%, 25rem);
  transition: var(--transition-time);
}

.content {
  padding: 2rem;
  width: 92%;
  background-color: var(--quaternary-color);
}

@media only screen and (max-width: 900px) {
  .sidebar_active {
    width: 100vw;
  }

  .sidebar_active + .content {
    display: none;
  }
}
