main {
  background: var(--quaternary-color);
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--secondary-color);
  height: 80svh;
  width: 75vw;
  display: flex;
  border-radius: 0.7rem;
  overflow: clip;
  box-shadow: 5px 10px 15px 0 rgb(80, 80, 80);
}

.content .first-half {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .first-half form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .first-half form h1 {
  font-size: var(--font-normal);
  align-self: center;
  margin-bottom: 1rem;
}

.content .first-half form label {
  font-size: var(--font-small);
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.content .first-half form button {
  padding: 0.7rem 0;
  margin-bottom: 0.5rem;
}

.content .first-half form p {
  font-size: var(--font-small);
  color: grey;
}

.content .first-half form p a,
span {
  color: var(--primary-color);
}

.content .second-half {
  width: 50%;
  background: var(--primary-color);
}

.signup-complete {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-complete h1 {
  font-size: var(--font-normal);
  margin-bottom: 0.7rem;
}
.signup-complete button {
  padding: 0.7rem 2rem;
}

@media screen and (max-width: 900px) {
  .content .first-half {
    width: 100%;
  }
  .content .second-half {
    display: none;
  }
}
