.new-goal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.new-goal .card {
  width: 30%;
  max-height: 75%;
  overflow-y: scroll;
}

.new-goal .card .new-goal-form {
  display: flex;
  flex-direction: column;
}

.new-goal .card .new-goal-form label {
  margin-bottom: 1rem;
}
